@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

.home-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-family: "Nunito", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--grey-4);
}

.section-home-left > h2 {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-1);
  line-height: 3rem;
  color: var(--white);
}

.section-home-left > p {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-3);
  color: var(--white);
}

.section-home-left {
  width: 21.6875rem;
  height: 17.125rem;
}

.div-title {
  background-image: url(../../img/icon2.png);
  width: 7.6875rem;
  height: 1.25rem;
}

.section-home-left > button {
  border: none;
  border-radius: var(--border-radius-1);
  color: var(--white);
  background-color: var(--color-primary);
  width: 15.0625rem;
  height: 3rem;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-3);
}

.section-home-left > button:hover {
  background-color: var(--color-primary-2);
  color: var(--grey-1);
  cursor: pointer;
}
.img-home-page {
  background-image: url(../../img/illustration.svg);
  width: 37.0625rem;
  height: 37.0625rem;
}
