header {
  width: 100vw;
  height: 5.5rem;
  box-shadow: 0px 9px 11px 1px var(--grey-2);
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.875rem;
}

.title {
  width: 7.6875rem;
  height: 1.25rem;
  background-image: url(../../img/iconkenzie.png);
}

.btn-header {
  width: 4rem;
  height: 2.5rem;
  border: none;
  background-color: var(--grey-2);
  border-radius: var(--border-radius-1);
}

.btn-header:hover {
  background-color: var(--color-primary-2);
  color: var(--grey-1);
  cursor: pointer;
}
